.my-page.devise
  .show
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .user-registr.session
        .present 新規登録
        .user-right
          .text-area
            .string-area
              %h2= f.label :name
              = f.text_field :name, class: "text-field width",  autofocus: true, autocomplete: "名前", placeholder: "１０文字以内"
            .string-area
              %h2= f.label :email
              = f.email_field :email, class: "text-field width", autocomplete: "Èメール"
            .string-area
              %h2= f.label :password
              = f.password_field :password, class: "text-field width", autocomplete: "パスワードを入力", placeholder: "６桁以上"
            .string-area
              %h2= f.label :password_confirmation
              = f.password_field :password_confirmation, class: "text-field width", autocomplete: "new-password"
            .text-area__btn
              = f.submit "新規登録", class: "btn"
              .session
                = render "devise/shared/links"
