.post-card.my-check
  .show.my-jarnal
    .my-header フォローリスト
    .my-list
      - @users.each do |user|
        = link_to user_path(user), class: "post" do
          .image
            -if user.avatar.url
              = image_tag user.avatar.to_s, class: "src"
            - else
              = image_tag "no_image.png", class: "src"
          .jeneral
            .user.main
              = user.name
            .profile.sub
              = user.profile