.my-page
  .user-left
    .user-image
      -if @user.avatar.url
        = image_tag @user.avatar.url, class: "avatar"
      - else
        = image_tag asset_path("no_image.png"), class: "avatar"
    .follow-btn
      - if user_signed_in?
        - if current_user != @user
          - if @user.followed_by?(current_user)
            =link_to user_relationships_path(@user.id), method: :delete do
              フォロー中
          - else
            =link_to user_relationships_path(@user.id), method: :post do
              フォローする
    .link-btn
      - if current_user == @user
        .favorite
          = link_to favorite_user_path do
            クリップリスト
        .follow
          = link_to follows_user_path do
            フォローリスト
  .user-right
    .user-name
      .name
        = @user.name
      .maypage-edit
      - if user_signed_in? && current_user.id == @user.id
        = link_to edit_user_registration_path do
          編集
    .user-profile
      = @user.profile
    .post-list
      .post-header
        %h2 最近の投稿
        = link_to posts_user_path(@user) do
          %span 投稿一覧
          %i.fas.fa-arrow-circle-right
      .post
      - if @posts.present?
        - @posts.each do |post|
          .line
            = link_to post_path(post) do
              .title
              = post.title
              .date
              = post.created_at.to_s(:date)
      - else
        %p
        投稿はまだありません