.my-page.devise
  .show
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .user-registr.devise
        .present ログイン
        .user-right
          .text-area
            .string-area
              %h2= f.label :email
              = f.email_field :email, class: "text-field width", autofocus: true, autocomplete: "Eメール"
          .text-area
            .string-area
              %h2= f.label :password
              = f.password_field :password, class: "text-field width", autocomplete: "current-password"
          .text-area__btn
            = f.submit "ログイン", class: "btn"
            .session
              = render "devise/shared/links"
          .text-area__btn
          - unless user_signed_in?
            = form_for(User.new, as: :user, url: session_path(:user)) do |f|
              .guest
                =f.hidden_field :email ,value: "test@example.com"
                =f.hidden_field :password ,value: "testtest"
                =f.submit "ゲストユーザーでログイン", class: "comment-submit"