.header
  .header__title
    =link_to root_path do
      Title
  .search-bar
    = form_with url: "#", local: true, method: :get do |f|
      = f.text_field :search, class: 'search-form', placeholder: "検索ワードを入力してください"
      = button_tag type: 'submit', class: "search-btn" do
        = icon('fas', 'search')
  .nav
    %ul.nav-bar
      - if user_signed_in?
        %li.nav-mypage
          = link_to "#" do
            = current_user.name
        %li.nav-logout
          = link_to '#' do
            Logout
      - else
        %li.nav-login
          = link_to new_user_session_path do
            Login
        %li.nav-sign
          = link_to new_user_registration_path do
            Signin