.info
  .post-button
    - if user_signed_in?
      = link_to new_post_path do
        .push
          %i.far.fa-paper-plane
          新規投稿
  .ranking
    %h2 いいねランキング
    - @all_ranks.each_with_index do |post, i|
      = link_to post_path(post.id) do
        %table
          %td.id= i + 1
          %td.title= post.title
          %td.count= post.likes.count