.main-content
  .post-list-box
    - @posts.each do |post|
      .post-list
        = link_to "/posts/#{post.id}", method: :get do
          .post-item
            .post-images
              = image_tag post.images.url, size: "180x150"
            %h2.post-title
              = post.title
            %p.post-content
              = post.content.truncate(45)
          
  .info
    = link_to new_post_path do
      投稿