.main-content
  .post-list-box
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
    .post-list
      .post-item
        %h2.post-text
        = link_to "#" do
          post
  .info
    info