.info
  .search-bar
    = form_with url: search_posts_path, local: true, method: :get, class: "container-2" do |f|
      = f.text_field :keyword, id: 'search', placeholder: "ワード検索"
      = button_tag type: 'submit', class: "search-btn" do
        = icon('fas', 'search')
  .post-button
    - if user_signed_in?
      = link_to new_post_path do
        .push
          %i.far.fa-paper-plane
          新規投稿
  %h2 いいねランキング
  - @all_ranks.each_with_index do |post, i|
    = link_to post_path(post.id) do
      %table
        %td.id= i + 1
        %td.title= post.title
        %td.count= post.likes.count