= render "header"
.new-post
  = form_with(model: @post, local: true) do |f|
    .add-image
    = f.file_field :images
    .add-title
    = f.text_field :title, placeholder: "タイトルを入力してください"
    .add-content
    = f.text_field :content, placeholder: "本文を入力してください"
    = f.submit "SEND"