= render "header"
.show-details
  = image_tag @post.images.url
  = @post.title
  = @post.content

.comment-space
  .comment-create
    = form_with model:[@post, @comment], local: true, id: "new-comment" do |f|
      = f.text_area :content, class: "comment-area"
      %br/
      = f.submit 'コメントする'
  -if @comments
    .comment-list
      %h2 コメント一覧
      - @comments.each do |c|
        %p 
          = c.content