= render "header"
.show-details
  = image_tag @post.images.url
  = @post.title
  = @post.content
  - if user_signed_in? && current_user.id == @post.user_id
    .post-edit
      = link_to "/posts/#{@post.id}", method: :delete do
        削除
  %div{:id => "likes_buttons_#{@post.id}"}
    = render partial: 'likes/like', locals: { post: @post, likes: @likes}
.comment-space
  .comment-create
    = form_with model:[@post, @comment], local: true, id: "new-comment" do |f|
      = f.text_area :content, class: "comment-area"
      %br/
      = f.submit 'コメントする'
  -if @comments
    .comment-list
      %h2 コメント一覧
      - @comments.each do |c|
        %p 
          = c.content