.header
  .header__title
    =link_to root_path do
      PostCard
    
  .guest-login
    - unless user_signed_in?
      = form_for(User.new, as: :user, url: session_path(:user)) do |f|
        .field
          =f.hidden_field :email ,value: "test@example.com"
          =f.hidden_field :password ,value: "testtest"
          =f.submit "ゲストユーザーでログインする（すべての機能を使用できます）", class: "guest-btn"
  .nav
    = link_to "#", id: "modal-open" do
      %i.fas.fa-leaf
      %span はじめての方
    = render "posts/modal"
    .home
      = link_to root_path do
        %i.fas.fa-home
    %ul#nav-bar
      - if user_signed_in?
        %li
          = link_to new_post_path do
            %i.far.fa-paper-plane
        %li.nav-mypage
          = link_to user_path(current_user) do
            = current_user.name
          %ul.drop-menu
            %li
              = link_to "投稿一覧", posts_user_path(current_user)
            %li
              = link_to "フォローリスト", follows_user_path(current_user)
            %li
              = link_to "クリップリスト", favorite_user_path(current_user)
        %li.nav-logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %li.nav-login
          = link_to "ログイン", new_user_session_path
        %li.nav-sign
          = link_to "新規登録", new_user_registration_path