!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Peripheral
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__title
        =link_to root_path do
          Title
      .search-bar
        = form_with url: search_posts_path, local: true, method: :get, class: "container-2" do |f|
          = f.text_field :keyword, id: 'search', placeholder: "検索ワードを入力してください"
          = button_tag type: 'submit', class: "search-btn" do
            = icon('fas', 'search')
      .nav
        = link_to "#", id: "modal-open" do
          %i.fas.fa-leaf
          %span はじめての方
        = render "posts/modal"
        %ul.nav-bar
          - if user_signed_in?
            %li.nav-mypage
              = link_to user_path(current_user) do
                = current_user.name
            %li.nav-logout
              = link_to destroy_user_session_path, method: :delete do
                ログアウト
          - else
            %li.nav-login
              = link_to new_user_session_path do
                ログイン
            %li.nav-sign
              = link_to new_user_registration_path do
                新規登録
    = yield
    .footer
      .footer__title
      .footer___copy
        Copyright
    